<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>Ini adalah list of Comments</h1>
<ul>
    <% for (let comment of comments) { %>
    <li><%= comment.text %> - <%= comment.username %>
        <a href="/comments/<%= comment.id %>">Detail</a></li>
    
    <% } %>
</ul>  
<hr> 
    <a href="/comments/create">Add</a>
</body>
</html>