<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comment</title>
</head>
<body>
    <h1>Comment id : <%= comment.uuidv4() %></h1>
    <h2><%= comment.text %> - <%= comment.username %></h2>
    <hr>
    <a href="/comments">Back</a>

</body>
</html>